body{
	font-family: 'Josefin Sans', sans-serif !important;
	background-color: transparent !important;
	position: relative;
}
.margin0{
    margin:0;
}
.padding0{
    padding:0;
}
.navbar{
	border-radius: 0 !important;
}
.nav > li > a{
	color: #fff !important;
}
.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: transparent !important;
    color: #fff !important;
 }
 .navbar-toggle {
   background-color: #fff !important;
   border: 1px solid #BBB !important;
}
.navbar-toggle .icon-bar {
    background-color: #337AB7 !important;
}

.nav li i{
	font-size:16px;
	margin-right: 6px;
	cursor: pointer;
}
.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 23px;
    line-height: 28px !important;
    color: #fff !important;
}
.notification_count{
	position: absolute;
    top: 2px;
    right: 9px;
    background-color: #E44141;
    border-radius: 50%;
    width: 19px;
    height: 19px;
    text-align: center;
    line-height: 21px;
}
.navbar-fixed-top{	
    border-radius: 0 !important;
}

.navbar-right{
	margin-right:0 !important;
	margin-top:6px;
}
.dropdown-menu > li > a {
    padding: 7px 20px !important;
    border-bottom: 1px solid #F1F1F1;
  
}
.panel, .panel-heading{
	border-radius: 0 !important;
}
.panel-warning{
	border:1px solid #D04D00;
}

.panel-warning .panel-heading{
	color: #FFFFFF !important;
    background-color: #D04D00 !important;
    border-color: #B14201 !important;
}
.panel-success .panel-heading{
	color: #FFFFFF !important;
    background-color: #30BD89 !important;
    border-color: #30BD89 !important;
}
.panel.panel-black {
    border: 1px solid #A5A5A5;
}
.panel-black .panel-heading{
	color: #FFFFFF !important;
    background-color: #233A42 !important;
    border-color: #576165 !important;
}
.virtual-bx .panel h3{
	display: inline-block;
	float: left;
	font-size:20px;
}
.virtual-bx .icons{
	font-weight: normal;
	color: #fff;
	font-size:15px;
	float: none;
	display: block;
	text-align:right;
}
.virtual-bx .icons i{
    padding: 0 3px;
}
.dynamic_list{
    margin-top: 59px;
    margin-left: 250px;
    font-size: 20px;
    color: #525252;
    box-shadow: 2px 2px 4px #ccc;
    border-radius: 0 !important;
    padding: 10px 12px !important;
}

.login-container{
    display: table;
    overflow: hidden;
    position: relative;
  /*margin:  auto;
  position: absolute;
  left: 0;right: 0px;bottom: 0px;
  width: 50%;*/
}
.login_form{
    position: fixed;
    top: 30%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0px auto;
    width: 30%;
    background-color: #f2f2f2;
    padding: 10px;
    border:1px solid #ddd;
    display: inherit;
}
#footer{
	position: static;
    bottom: 0;
    left: 250px;
    text-align: center;
}
.m-btm10{
    margin-bottom:10px;
}
.m-tp10{
    margin-top:10px;
}
.navbar-form{
    margin-left: -15px !important;
}
.custom-border{
    border:1px solid #ddd;
}
@media (max-width: 768px){
 	.header, .marketing, .footer {
	    padding-left: 0 !important;
	    padding-right: 0 !important;
	}
 }