 
<div ng-include="'views/header.html'"></div>
<div ng-include="'views/sidebar.html'"></div>
<div id="wrapper">
<div id="page-content-wrapper">
<div class="virtual-bx" ng-controller="graphCtrl">
  <div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12">
       <div class="panel panel-warning">
          <div class="panel-heading"><h3 style="margin:0;padding:0">{{line}}</h3>
           <div class="icons">
            <i class="fa fa-cog" aria-hidden="true"></i>  <i class="fa fa-times" aria-hidden="true"></i>
          </div>
          </div>
          <div class="panel-body">
              <div zingchart id="chart-1" zc-values="myValues" zc-json="myObj" zc-height=300  zingchart></div>
          </div>
        </div>
     </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
       <div class="panel panel-black">
          <div class="panel-heading"><h3 style="margin:0;padding:0">{{bar}}</h3>
             <div class="icons">
              <i class="fa fa-cog" aria-hidden="true"></i>  <i class="fa fa-times" aria-hidden="true"></i>
            </div>
          </div>
          <div class="panel-body">
            <div id='myChart' style="height:300px;"></div>
          </div>
        </div>
      </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12">
       <div class="panel panel-primary">
          <div class="panel-heading">
           <h3 style="margin:0;padding:0">{{todo}}</h3>
            <div class="icons">
              <i class="fa fa-square-information" aria-hidden="true"></i>  <i class="fa fa-times" aria-hidden="true"></i>
            </div>
           </div>
          <div class="panel-body">
            <div ng-repeat="item in product"><input type="checkbox"> {{item}}</div>
            <div class="" ng-repeat="addtax in addTaxDtls.items">
               <input type="checkbox" ng-model="checked" checked> {{addTaxDtls.items[$index].name}}
            </div>
          <div>
            <form class="navbar-form navbar-left">
              <div class="form-group">
                <input type="text" ng-model="name" class="form-control" placeholder="Search" required>
              </div>
              <button type="submit" ng-click="addMoreTaxDtls(name)" class="btn btn-danger">Submit</button>
            </form>
          </div>
          </div>
        </div>
        <div class="panel panel-black">
          <div class="panel-heading">
           <h3 style="margin:0;padding:0">{{Services}}</h3>
            <div class="icons">
              <i class="fa fa-cog" aria-hidden="true"></i>  <i class="fa fa-times" aria-hidden="true"></i>
            </div>
           </div>
          <div class="panel-body">
            <div class="absolute"> 
            <h4 class="margin0">Online status 
                <!-- <label class="switch">
                  <input type="checkbox">
                  <div class="slider"></div>
                </label> -->
                <label class="switch">
                  <input type="checkbox">
                  <div class="slider round"></div>
                </label>
                </h4><br>
                <h4 class="margin0">Show offline contact
                <label class="switch">
                  <input type="checkbox" checked>
                  <div class="slider orange round"></div>
                </label>
                </h4><br>
                <h4 class="margin0">Show my device icon
                <label class="switch">
                  <input type="checkbox" checked>
                  <div class="slider navyblue round"></div>
                </label>
                </h4><br>
                <h4 class="margin0">Upgrade Progress 
                <label class="switch">
                  <input type="checkbox" checked>
                  <div class="slider green round"></div>
                </label>
                </h4>
            </div>
          </div>
        </div>
        <div class="panel panel-danger">
          <div class="panel-heading">
           <h3 style="margin:0;padding:0">Bar Chart</h3>
            <div class="icons">
              <i class="fa fa-cog" aria-hidden="true"></i>  <i class="fa fa-times" aria-hidden="true"></i>
            </div>
           </div>
          <div class="panel-body">
            <div id='myPieChart'></div>
          </div>
        </div>
     </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
       <div class="panel panel-success">
          <div class="panel-heading">
            <h3 style="margin:0;padding:0">{{alfa}}</h3>
             <div class="icons">
              <i class="fa fa-cog" aria-hidden="true"></i>  <i class="fa fa-times" aria-hidden="true"></i>
            </div>
          </div>
          <div class="panel-body">
          <div id="calendar" style="max-width:100%;"></div>
          </div>
        </div>

        <div class="panel panel-warning">
          <div class="panel-heading">
            <h3 style="margin:0;padding:0">Data Table </h3>
             <div class="icons">
              <i class="fa fa-cog" aria-hidden="true"></i>  <i class="fa fa-times" aria-hidden="true"></i>
            </div>
          </div>
          <div class="panel-body">
             <table class="table table-bordered table-responsive">
        <thead>
            <tr>
                <th>{{tableheading}}</th>
                <th>{{tablefname}}</th>
                <th>{{tablelname}}</th>
                <th>{{tableemail}}</th>
                <th>{{tableaction}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="data in tabledata.data">
                <td>{{data.row}}</td>
                <td>{{data.firstname}}</td>
                <td>{{data.lastname}}</td>
                <td>{{data.email}}</td>
                <td> <i class="fa {{data.action}}"></i> </td>
            </tr>
          
        </tbody>
    </table>
          </div>
        </div>
    </div>
   </div>
  </div>
</div>
</div>
<script type="text/javascript">
  $('#calendar').fullCalendar({

});
</script>
<div ng-include="'views/footer.html'"></div>

