 
<div ng-include="'views/header.html'"></div>
<div ng-include="'views/sidebar.html'"></div>
<div id="page-content-wrapper">
<div class="virtual-bx" ng-controller="barCtrl">
 <div class="row">
   <div class="col-md-6 col-sm-6 col-xs-12">
     <div class="panel panel-primary">
       <div class="panel-heading"><h3 style="margin:0;padding:0;float:none">Line Chart</h3></div>
       <div class="panel-body">
         <div id="myChart"></div>
       </div>
     </div>
   </div>
   <div class="col-md-6 col-sm-6 col-xs-12">
     <!-- <div class="panel panel-primary">
       <div class="panel-heading"><h3 style="margin:0;padding:0;float:none">Line Chart</h3></div>
       <div class="panel-body">
         <div id="myChart1"></div>
       </div>
     </div> -->
   </div>
 </div>
 </div> 
</div>

<div ng-include="'views/footer.html'"></div>

