 <nav class="navbar bg-primary no-margin navbar-fixed-top">
         <!-- Brand and toggle get grouped for better mobile display -->
         <div class="navbar-header fixed-brand">
            <div class="navbar-toggle collapsed" data-toggle="collapse"  id="menu-toggle">
               <i class="fa fa-bars" aria-hidden="true"></i>
            </div>
            <a class="navbar-brand" href="#"><i class="fa fa-android" aria-hidden="true"></i> ANGULAR SITE</a>
         </div>
         <!-- navbar-header-->
         <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
               <li>
                  <div class="collapse in" data-toggle="collapse" id="menu-toggle-2">  <i class="fa fa-bars bar_icon" aria-hidden="true"></i></div>
               </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
               <li  class="dropdown">
                  <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                  <span class="notification_count">4</span>
                  <ul class="dropdown-menu">
                     <li ng-repeat="i in Navprofile"><a href=""><i class="fa {{i.icon}}"></i>{{i.Navlist}}</a></li>
                  </ul>
               </li>
               <li  class="dropdown">
                  <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bell" aria-hidden="true"></i></a>
                  <span class="notification_count">4</span>
                  <ul class="dropdown-menu">
                     <li ng-repeat="i in Navprofile"><a href=""><i class="fa {{i.icon}}"></i> {{i.Navlist}}</a></li>
                  </ul>
                  <span class="notification_count">3</span>
               </li>
               <li class="dropdown">
                  <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                     <h4 style="margin:0;padding:0">{{userProfile.name}}<span class="caret"></span></h4>
                  </a>
                  <ul class="dropdown-menu">
                     <li ng-repeat="i in Navprofile"><a href=""><i class="fa {{i.icon}}"></i> {{i.Navlist}}</a></li>
                  </ul>
               </li>
            </ul>
         </div>
         <!-- bs-example-navbar-collapse-1 -->
      </nav>