<div class="login-container">
<div class="login_form">
  <form name="queryform" novalidate>
      <div class="form-group" ng-class="{'has-error' : queryform.email.$invalid && (queryform.email.$dirty || submitted)}">
         <div class="form-group">
            <label>Email address</label>
            <input type="email" ng-model="user.email" name="email" class="form-control" placeholder="Email" ng-maxlength="100" ng-minlength="2" ng-required="true">
            <p ng-show="queryform.email.$error.required && (queryform.email.$dirty || submitted)" class="help-block">Email is Required</p>
            <p ng-show="queryform.email.$error.maxlength && (queryform.email.$dirty || submitted)" class="help-block">Email is too Long</p>
            <p ng-show="queryform.email.$error.minlength && (queryform.email.$dirty || submitted)" class="help-block">Email is too Short</p>
         </div>
         <div class="form-group" ng-class="{'has-error' : queryform.username.$invalid && (queryform.username.$dirty || submitted)}">
            <label>Password</label>
            <input type="password" ng-model="user.password" name="username" class="form-control" placeholder="Password" ng-maxlength="100" ng-minlength="2" ng-required="true">
            <p ng-show="queryform.username.$error.required && (queryform.username.$dirty || submitted)" class="help-block">Password Required</p>
            <p ng-show="queryform.username.$error.maxlength && (queryform.username.$dirty || submitted)" class="help-block">Password is Maximun</p>
            <p ng-show="queryform.username.$error.minlength && (queryform.username.$dirty || submitted)" class="help-block">Password is Less</p>
         </div>
         <div class="form-group">
            <button type="submit" ng-disabled="queryform.$invalid" ng-click="usersubmit()" class="btn btn-success"> Submit</button>
         </div>
      </div>
   </form>
</div>
</div>